* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./Components/Images/sunny.png');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 50% 30%;
    z-index: -1;
    overflow: hidden;
}

img {
    height: 50px;
    width: 50px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 350px;
    height: 100%;
    margin-top: 10%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    transition: 1s;
    object-fit: cover;
    z-index: 2;
    overflow: hidden;
}

.box:hover {
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1em 1em black;
    transition: 1s;
    transform: scale(1.1);
}

.search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-icon {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 5px 5px black;
    cursor: pointer;
}

.search-icon:active {
    transform: scale(0.9);
}

.search_input {
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    background-color: transparent;
    text-transform: uppercase;
    outline-style: none;
    outline: none;
    transition: 0.2s;
}

.search_input::placeholder {
    font-weight: bolder;
    color: black;
    /* background-color: blue; */
}

.search_input:hover {
    box-shadow: 0 0 3px 3px black;
    transform: scale(1.01);
    transition: 0.2s;
}